body{
    margin: 0;
    padding: 0;
   font-family: sans-serif, Verdana, Geneva,Tahoma;
   background-image: url("../images/top-banner.png");
   background-repeat: no-repeat;
}
.container-fluid{
    width: 95%;
    margin: auto;
}
------------------------------menu bar start------------------------------*/
/*---------------------------- brand logo start------------------------- */
.navbar-expand-lg{
    
     margin-top: 0px;
}
.navbar-brand{
    font-family: Cotillion;
    font-weight: bold;
    font-size: 45px;
    color: #eb2f06;
    margin-left: 30px;  
}
.navbar-brand:hover{
   color: #0E8CF1;
   transform: scale(1.05);
}
/*---------------------------- brand logo end------------------------- */
/*---------------------------- menu start------------------------- */
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #2f3542;
    margin-top: 0px;
    text-decoration: none;
}
ul li {
    margin:25px 5px 5px 5px;
    padding: 8px 15px;
    
   display: inline-block;
   text-decoration: none;
}

.menu:hover {
    background-color: #55E6C1;
    border-radius: 5px;
    transform: scale(1.05);
}
a:hover{
    color: #353b48;
    text-decoration: none;
}
/*---------------------------- menu end------------------------- */
/*---------------------------- btn start------------------------- */
button.first {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    background: linear-gradient(to right, #FF8E00, #FF1800);
    padding: 8px 15px;
    border-radius: 5px;
    border: transparent;
    margin: 5px 5px;
}
button.first:hover {
    background:linear-gradient(to right, #FF1800, #FF8E00);
    cursor: pointer;
    border: transparent;
    transform: scale(1.05);
}
/*---------------------------- btn end------------------------- */
/*---------------------------- social media------------------------- */
.fa:hover {
    opacity: 2;
    transform: scale(1.99);
    text-decoration: none;
}

.fa-facebook:hover {
    
    color: #0E8CF1;
}

.fa-twitter:hover {
    color: #32CCFE;
}

.fa-instagram:hover {
    color: #CF3C95;
}

/*.fa-youtube-play:hover {
    color: #FF0000;
}*/
.fa-facebook {
    
    color: #0E8CF1;
    margin-left: 10px;
}

.fa-twitter {
    color: #32CCFE;
}

.fa-instagram {
    color: #CF3C95;
}

/*.fa-youtube-play {
    color: #FF0000;
}*/
/*----------------------------- social media ------------------------------------*/
/*----------------------------------menu bar end------------------------------*/
hr{
    border: 1px solid #FF8E00;
}




.section-one{
    width: 40%;
    float: left;
}
.section-two{
    width: 40%;
}

footer p {
    margin: auto;
    padding: 10px 10px 10px 50px;
    background: linear-gradient(to right, #FF8E00, #FF1800);

}