body{
    margin: 0;
    padding: 0;
   font-family: sans-serif, Verdana, Geneva,Tahoma;
   background-image: url("../images/top-banner.png");
   background-repeat: no-repeat;
}
.container-fluid{
    width: 95%;
    margin: auto;
}
/*------------------------------menu bar start------------------------------*/
/*---------------------------- brand logo start------------------------- */
.navbar-expand-lg{
    
     margin: 0px 0px 0px 0px ;
}
.logo-brand{
    font-family: Cotillion sans-serif, Verdana, Geneva, Tahoma;
    font-weight: bold;
    font-size: 45px;
    color: #eb2f06;
    margin: 0px 0px 0px 5px;
    padding: 10px 5px 0px 10px;
    
}
.logo-brand:hover {
   color: #0E8CF1;
   transform: scale(1.5);
}
/*---------------------------- brand logo end------------------------- */
/*---------------------------- menu start------------------------- */
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #2f3542;
    margin-top: 0px;
    text-decoration: none;
}
ul li {
    margin:25px 5px 5px 5px;
    padding: 8px 15px;
    display: inline-block;
   text-decoration: none;
}
.menu-ul{
    float: left;
}

.menu:hover {
    background: linear-gradient(to right, #FF8E00, #FF1800);
    border-radius: 5px;
    transform: scale(1.05);
   
}
a:hover{
    color: white;
    text-decoration: none;
}
.head-menu{
    float: left;
}
/*---------------------------- menu end------------------------- */
/*---------------------------- btn start------------------------- */
.head-button{
    float: none;
}
button.first {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    background: linear-gradient(to right, #FF8E00, #FF1800);
    padding: 8px 15px;
    border-radius: 5px;
    border: transparent;
    margin: 25px 5px 0px 5px;
  
}
button.first:hover {
    background:linear-gradient(to right, #FF1800, #FF8E00);
    cursor: pointer;
    border: transparent;
    transform: scale(1.05);
}
/*---------------------------- btn end------------------------- */
/*---------------------------- social media------------------------- */
.social-media{
    margin: -40px 0px 0px 0px;
    padding: -20px 0px 0px 0px;
}
.fa:hover {
    opacity: 2;
    transform: scale(2);
    text-decoration: none;
}

.fa-facebook:hover {
    
    color: #0E8CF1;
}

.fa-twitter:hover {
    color: #32CCFE;
}

.fa-linkedin:hover {
    color: #0073B0;
}


.fa-facebook {
    
    color: #0E8CF1;
    margin-right: -5px;
    }
    


.fa-twitter {
    color: #32CCFE;
    margin-right: 5px;
}

.fa-linkedin {
    color: #0073B0;
}


/*----------------------------- social media ------------------------------------*/
/*----------------------------------menu bar end------------------------------*/
hr{
    border: 1px solid #FF8E00;
    margin-top: 30px;
    
}
span{
    font-style: italic;
    color: orange;
    font-size: 38px;
}
.dropdown-item {
    text-transform: uppercase;
    font-weight: bold;
     background: linear-gradient(to right, #FF8E00, #FF1800);
     margin: 0px;
     color: white;
     padding: 10px;
     text-align: center;
    
}
.dropdown-item:nth-child(2n) {
    
    background: linear-gradient(to left, #FF8E00, #FF1800);
    
}



.section-one h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    padding: 30px 5px 15px 10px;
}
.section-one h5{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 19px;
    padding: 30px 5px 40px 10px;
}
.section-one p{
    font-size: 16px;
    padding: 30px 5px 15px 10px;
    color: #747d8c;
}
.section-one{
    width: 40%;
    float: left;
    min-height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    overflow: hidden;
    
}
.section-one img {
    width: 90%;

}

.section-two{
    width: 40%;
     min-height: 500px;
    overflow: hidden;
    margin-left: 5%;
    text-align: justify;
    margin-top: 25px;
}
.section-two h3 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    padding: 30px 5px 15px 10px;
}

.section-two h5 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 19px;
    padding: 30px 5px 40px 10px;
}

.section-two p {
    font-size: 16px;
    padding: 30px 5px 15px 10px;
    color: #747d8c;
}

.section-two img {
    width: 90%;
}
.dream-bg{
    background: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences h2 {
   text-transform: capitalize;
   font-weight: bold;
    font-size: 30px;
    width: 100%;
    margin-left: 30px;
  
}
.exp-bg{
    background: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.section-one-down {
    width: 40%;
    float: left;
    min-height: 250px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    padding: 5px 10px 5px 10px;
    border-left: 9px solid orange;
    margin-bottom:  50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-one-down h3{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    padding: 5px 5px 5px 5px;
}
.section-one-down h5{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 19px;
    padding: 5px 5px 5px 5px;
    color: orange;
}
.section-one-down p {
    font-size: 16px;
    padding: 10px 5px 5px 5px;
    color: #747d8c;
}
.section-two-down h3{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    padding: 5px 5px 5px 5px;
}
.section-two-down h5{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 19px;
    padding: 5px 5px 5px 5px;
    color: orange;
}
.section-two-down p {
    font-size: 16px;
    padding: 10px 5px 5px 5px;
    color: #747d8c;
}
.section-two-down {
    width: 40%;
    min-height: 250px;
    overflow: hidden;
    margin-left: 5%;
    text-align: justify;
    margin-top: 25px;
    padding: 5px 10px 5px 10px;
    border-left: 9px solid blue;
    margin-bottom:  50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

footer p{
   
    padding: 10px 10px 10px 20px;
    background: linear-gradient(to right, #FF8E00, #FF1800);

}

@media all and (max-width: 1060px) {
    .section-one {
        width: 90%;
        float: none;
        margin: auto;

    }

    .section-two {
        width: 90%;
        margin: auto;
     }
    .section-one-down {
        width: 90%;
        float: none;
        padding: 10px 20px 10px 20px;
        margin: auto;
       
    }
    .section-two-down {
        width: 90%;
        padding: 10px 20px 10px 20px;
        margin-top: 20px;
        overflow: hidden;

    }
    p{
        padding: 20px 20px 20px 20px;
        
        margin: auto;
    }
    footer p {

       overflow: hidden;
       margin-top: 30px;

    }
    button.first{
        width: 89%;
        margin-left: 10px;
        margin-left: 33px;
        
    }
    .head-button {
        width: 95.5% !important;


    }

    .head-menu {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .menu-ul {
        width: 100%;
        margin: auto;
        text-align: center;
    }
   
}

@media all and (max-width: 660px) {
    .menu{
        width: 100%;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        
        
    }
    
}
@media all and (max-width: 460px) {
    .menu{
        width: 100%;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        
        
    }
    button.first {
        width: 89%;
        margin-left: 10px;
        margin-left: 33px;

    }

    .head-button {
        width: 95.5% !important;


    }

    .head-menu {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    .menu-ul {
        width: 100%;
        margin: auto;
        text-align: center;
    }
}




